<header class="navbar navbar-expand-lg sticky-top flex-md-nowrap p-0 shadow">

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 custom-brand-bg text-white " style="font: small-caps bold 50px sans-serif;" href="/">SmartSafe Doorway</a>
  
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item px-3">
        <a class="nav-link active" aria-current="page" href="#">Registered Users</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link active" aria-current="page" href="#">authorized Users</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
 
  <form class="d-flex" role="search" method="POST" action="/search">
    <input class="form-control me-1"  name="searchTerm" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-outline-dark" type="submit" style="margin-right: 2%;">Search</button>
  </form>

</header>